* 
  
  body {
    margin: 0; /* removes white border around website*/
    padding: 0;
    margin-top: -22px;
  }
  
  menu {
    list-style: none;
    display: grid;
  }
  
  button {
    background-color: white;
    border: none;
  }
  
  .burger-icon {
    margin-top: 1.5rem;
  }
  
  a:visited,
  Link:visited,
  a:link,
  Link:link {
    text-decoration: none;
    color: black;
  }
  
  .action-button {
    background-color: #f4ce14;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.2rem;
    font-family: "Karla";
    font-size: 2rem;
  }
  
  .action-button:hover {
    background-color: #495e57;
    color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    border-color: #edefee;
    transition: 0.2s;
  }
  
  .subsection {
    margin-top: -2rem;
  }

/* ==================================== */

.navbar-menu {
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }
  
  .navbar-menu > li,
  .navbar-menu > a,
  .navbar-menu > Link {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: black;
  }
  
  .mobile {
    display: none;
  }
  
  .burger {
    display: none;
    grid-template-columns: 5fr 1fr;
  }
  
  .hover-effect:hover {
    background-color: #f4ce14;
    transition: 0.25s;
  }
  
  .nav-image {
    max-height: 4rem;
    margin-top: 0.7rem;
    margin-left: -1.25rem;
  }
  

/* ===================================== */



@media screen and (max-width: 600px) {

    .desktop {
      display: none;
    }
  
    .mobile {
      display: grid;
      grid-template: auto auto auto auto auto auto auto / auto;
      align-items: center;
      padding-left: 0;
    }
  
    .burger {
      display: grid;
    }
  
    .burger > img {
      margin-top: 1.5rem;
      margin-left: 0.5rem;
    }
  
  }